<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Tracking Tool</h1>
    </div>
</div>
<div class="search-bar">
    <input ng-model="trackCode" type="search" placeholder="Add new track code" class="topcoat-search-input search-key">
    <a>
        <img src="../css/images/add.png" width="40px" height="40px" style="cursor:pointer" ng-click="addTrackCode()" />
    </a>
</div>
<div class="topcoat-list__container scroller" style="top:138px;">
    <ul class="topcoat-list list">
        <li ng-repeat="t in trackCodeArray track by $id($index)" class="topcoat-list__item">
            <a ng-click="go('/trackcodes/' + {{t.code}})">

                <p>{{t.code}} </p>
                <span class="chevron" ng-click="deleteTrackCode($index)" style="cursor:pointer"></span>
            </a>
        </li>
    </ul>
</div>